
.modal, .modal-backdrop{
    z-index: 99999;
}

.modal-content{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0;
}

.close{
    color: #000;
}
.close:hover{
    transform: scale(1.2);
}
.close:focus{
    outline: none;
}

.modal-backdrop{
    background-color: rgba(36, 36, 36, 0.7);
    z-index: 99998;
}

.show{
    display: block;
}
