<ng-container *ngIf="show">
    <div class="modal fade show"> <!--[ngClass]="{'show':show}"-->
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
                <ng-content select=".modal-title"></ng-content>
              <button type="button" class="close" (click)="onClose()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <ng-content select=".modal-body"></ng-content>
            
            <!-- Modal footer -->
            <div class="modal-footer">  
              <ng-content select="[footer]">
              </ng-content>
            </div>
            
          </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
</ng-container>